* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1923px;
    background-image: url(/asset/img/bg.jpg);
    background-size: cover;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    width: 100%;
    height: 96px;
    padding: 0 65px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar p {
    font-weight: 900;
    color: white;
    margin-left: 20px;
    
}

/*** search ***/
.search {
    width: 520px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#icon {
    width: 150px;
    line-height: 46px;
    background-color:transparent;
    color: white;
    padding: 0px 0px 0px 50px;
    border: 2px solid white;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
}


.searchbox {
    border-style: solid;
    width: 100%;
    line-height: 24px;
    font-weight: 900;
    background: transparent;
    border-color: white ;
    box-shadow: none;
    border-left: none;
    border-radius:0px 8px 8px 0px;
    font-size: 16px;
    padding: 11px 11px 11px 0%;
    border-bottom-color: rgb(255, 255, 255);
}   

::placeholder {
    color: rgba(255, 255, 255, 0.194);
    width: 100%;
}

/**** btn ****/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1 {
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    padding: 12px 24px;
    cursor: pointer;
}

#btn2 {
    border: none;
    font-weight: 900;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 8px;
    color: #fff;
    background: transparent;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
}

/*** hero section ***/
.hero-section {
    width: 1264px;
    height: 339px;
    padding:0px 5px 36px 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 900px;
    margin-top: 150px;
    margin-left: 50px;
}

.h1o {
    width: 1263px;
    height: 168px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 46px;
}


.h3o {
    width: 649px;
    height: 32px;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 18px;
}

.btn3 {
    width: 210px;
    height: 56px;
    transition: all .2s cubic-bezier(.75,0,.28,1);
    border-radius: 2px;
    background: #ff501a;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/*** section2 ***/
.section2 {
    max-width:1920px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 65px ;
    padding-right: 65px;
}

#h12 {
    color: #26262D;
    font-weight: 900;
    font-size: 50px;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

#h32 {
    color: #26262D;
    font-stretch: expanded;
    text-align: center;
}

.client-logo {
    width: 397px;
    height: 317px;
    background-color: pink;
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    flex-basis: 400px;
}   

.img1 {
    width: 96px;
    height: 27px;
    margin-bottom: 18px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 18px;
}

.btn4 {
    background-color: #26262D;
}

/***** section three *****/
.section3 {
    width: 818px;
    height: 518px;
    background-image: url(/asset/img/moviesbg.jpg);
    width: 100%;
    height: 110vh;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec3-h1 {
    
    margin-top: 30px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #fff;

}

.sec3-p {
    width: 698px;
    height: 144px;
    display: flex;
    justify-content: center;
}

#ptag {
    width: 339px;
    height: 144px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .5px;
    color: white;
    text-align: center;
    align-items: center;
}

.client-logo2 {
    width: 500px;
    height: 72px;
    margin-top: 36px;
    margin-bottom: 36px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.img2 {
    width: 67px;
    height: 48px;
    margin: 12px;
}


.btn-sec-3 {
    width: 572px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

.btn5 {
    background-color: #fff;
    color: #26262D;
}

/**** accordion ****/
.faq {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 65px;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.h1faq {
    width: 445px;
    height: 32px;
    margin-top: 60px;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    
}

.accordion1 {
    width: 698px;
    height: 178px;
    margin-top: -5px;
    margin-left: -5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.accordion {
    width: 339px;
    height: 163px;
}


.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

.accordion li label {
    padding: 315px;
    height: 24px;
    padding: 12px;
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accordion li label span {
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
    font-size: 20px;
    color: #333;
    font-weight: 900;   
}


.accordion label + input[type="radio"]{
    display: none;
}

.accordion .content {
    padding: 12px;
    line-height: 37px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigt 0.5s;
}


.accordion label + input[type="radio"]:checked + .content{
    max-height: 200px;
}

/**** section4 ****/
.faq{
    margin-top: 100px;
    width: 772px;
    height: 385px;
    padding-right: 65px;
    padding-left: 65px;
    background-image: url(/asset/img/964df397c603.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sec4in {
    width: 782px;
    height: 241px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: -5px;
    margin-right: -5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.newp {
    width: 381px;
    height: 72px;
    color: white;
    text-align: center;
}

/***** footer *****/
footer {
    width: 100%;
    height: 600px;
    padding-top: 46px;
    background-color: #191919;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer-panel-1 {
    width: 772px;
    height: 43px;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
   

    
}

.logo2 {
    background-image: url(/asset/img/logo.png);
    background-size:cover;
    width: 66px;
    height: 29px;
}

.social-media {
    font-size: 40px;
    background-color: #fff;
}

.footer-panel-2 {
    background-color: #191919;
    color: white;
    width: 1143px;
    height: 265px;
    padding-bottom: 42px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 200;
    
}

ul {
    width: 228px;
    height: 157px;
    color: white;
    margin-top: 20px;

}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

/**** last sec ****/
.foot-panel-4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 46px;

}

.pages {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.copyright {
    padding-top: 10px;
    
}

/*** responsiv ****/
@media  screen and (max-width: 600px) {
    .container {
        width: 950px;
    }

    .section2 {
        width: 800px;
    }

    .section3 {
        width: 800px;
    }

    .faq {
        width: 800px;
        
    }

    footer {
        width: 800px;
    }

}